@import "tailwindcss";

:root {
  --primary: #1E3A8A; /* Royal Blue */
  --secondary: #FFD700; /* Gold */
  --background: #FFFFFF; /* White */
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: 'Segoe UI', sans-serif;
}

